<script>
  import NavBar from '../NavBar.svelte';
  import Sponsors from './Sponsors.svelte';
  import { page } from '$app/stores';

  $: title = $page.data.title ? `${$page.data.title} - BOI 2023` : 'BOI 2023';
</script>

<svelte:head>
  <title>{title}</title>
</svelte:head>

<header>
  <NavBar />
  <img alt="BOI 2023 logo" src="/assets/img/logo/logo.svg" />
</header>

<main>
  <slot />
</main>

<footer>
  <Sponsors />
  <p>
    Content is licensed <a rel="license" href="https://creativecommons.org/licenses/by/4.0/"
      >CC BY</a
    >.
    <br />
    Source code is MIT-licensed. Edit on <a href="https://gitlab.com/datalogi-ol/boi2023/hc/boi2023.org">Gitlab</a>.
  </p>
</footer>

<style>
  header img {
    height: 12rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
