<script>
  const schedule = [
    ['Fri', '28/4', 'Arrival, opening ceremony, practice session', [
      ['12:00', '15:00', 'Arrivals / registration', 'all', 'DTU, Building 358, Room 060A'],
      ['14:00', '15:00', 'Lunch', 'all', 'DTU, Building 358, Room 060A'],
      ['15:00', '16:00', 'Opening ceremony', 'all', 'DTU, Building 358, Room 060A'],
      ['16:30', '18:30', 'Practice session', 'all', 'DTU, Building 358, Room 060B'],
      ['18:30', '19:30', 'Dinner', 'all', 'DTU, Building 358, Room 021'],
      ['19:30', '21:30', 'Games / "hygge" / chill', 'c', 'DTU, Building 358, Room 021'],
      ['19:30', '20:30', 'GA meeting', 'l', 'DTU, Building 358, Room 042'],
      ['21:30', '', 'Walk to hotel', 'all', ''],
    ]],
    ['Sat', '29/4', 'Contest day 1', [
      ['7:00', '8:00', 'Breakfast', 'all', 'Hotel'],
      ['8:00', '8:15', 'Walk to contest site', 'all', ''],
      ['8:15', '8:30', 'Contest information', 'all', 'DTU, Building 358, Room 060A'],
      ['9:00', '14:00', 'Contest Day 1', 'all', 'DTU, Building 358, Room 060B'],
      ['14:00', '15:00', 'Team gathering. How was the contest?', 'all', 'DTU, Building 358, Room 060A'],
      ['14:30', '15:00', 'Analysis and appeals', 'all', 'DTU, Building 358, Room 060A'],
      ['15:00', '17:30', 'Entertainment (group activities)', 'c', 'DTU, TBA'],
      ['17:45', '18:15', 'Task solutions presentation', 'all', 'DTU, Building 358, Room 060A'],
      ['18:30', '19:30', 'Dinner', 'all', 'DTU, Building 358, Room 021'],
      ['19:30', '21:30', 'Games / "hygge" / chill', 'c', 'DTU, Building 358, Room 021'],
      ['19:30', '20:30', 'GA meeting', 'l', 'DTU, Building 358, Room 042'],
      ['21:30', '', 'Walk to hotel', 'all', ''],
    ]],
    ['Sun', '30/4', 'Contest day 2', [
      ['7:00', '8:00', 'Breakfast', 'all', 'Hotel'],
      ['8:00', '8:15', 'Walk to contest site', 'all', ''],
      ['8:15', '8:30', 'Contest information', 'all', 'DTU, Building 358, Room 060A'],
      ['9:00', '14:00', 'Contest Day 2', 'all', 'DTU, Building 358, Room 060B'],
      ['14:00', '15:00', 'Team gathering. How was the contest?', 'all', 'DTU, Building 358, Room 060A'],
      ['14:30', '15:00', 'Analysis and appeals', 'all', 'DTU, Building 358, Room 060A'],
      ['15:00', '16:00', 'Entertainment (DTU Scienceshow)', 'all', 'DTU, Building 341, Auditorium 21'],
      ['16:30', '17:00', 'Task solutions presentation', 'all', 'DTU, Building 358, Room 060A'],

      ['17:15', '18:00', 'Walk to restaurant', 'all', ''],
      ['18:00', '19:30', 'Dinner', 'all', 'Madklubben Lyngby'],
      ['20:00', '21:30', 'Games / "hygge" / chill', 'c', 'DTU, Building 358, Room 021'],
      ['20:00', '21:00', 'GA meeting', 'l', 'DTU, Building 358, Room 042'],
      ['21:30', '', 'Walk to hotel', 'all', ''],
    ]],
    ['Mon', '1/5', 'Excursions, closing ceremony, dinner', [
      ['8:00', '9:00', 'Breakfast', 'all', 'Hotel'],
      ['9:30', '10:00', 'Bus to Copenhagen', 'all', ''],
      ['10:00', '12:00', 'Treasure hunt', 'c', 'Copenhagen'],
      ['12:00', '16:00', 'Visit Tivoli', 'all', 'Copenhagen'],
      ['16:45', '17:45', 'Canal tour', 'all', 'Copenhagen'],
      ['18:00', '21:00', 'Dinner and closing ceremony', 'all', 'Islands Brygge Kulturhus'],
      ['21:00', '21:30', 'Bus to hotel', 'all', ''],
    ]],
    ['Tue', '2/5', 'Departure', [
      ['', '', 'Breakfast', 'all', 'Hotel'],
      ['8:00', '12:00', 'Departures', 'all', ''],
    ]]
  ];

  const filterOptions = [
    { code: 'all', display: 'Everyone' },
    { code: 'c', display: 'Contestants' },
    { code: 'l', display: 'Leaders' },
  ];

  $: scheduleFiltered = schedule.map(day => {
    if (filter === 'all') return day;
    return [day[0], day[1], day[2], day[3].filter(row => row[3] === filter || row[3] === 'all')];
  });

  let filter = 'all';
</script>

{#each scheduleFiltered as day}
  <details>
    <summary>
      <span class="outer">
        <strong>
          <span>{day[0]}</span>
          <span class="right">{day[1]}</span>
        </strong>
      </span>:
      {day[2]}
    </summary>
    <form>
      Filter:
      {#each filterOptions as option}
        <label class="filter">
          <input type="radio" bind:group={filter} name="filter" value={option.code}>
          {option.display}
        </label>
      {/each}
    </form>
    <div>
      <table>
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Activity</th>
            <th scope="col">Location</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {#each day[3] as row}
            <tr>
              <td>{row[0]} &mdash; {row[1]}</td>
              <td>{row[2]}</td>
              <td>{row[4]}</td>
              <td>{row[3].replace(/^all$/, 'Everyone').replace(/^c$/, 'Contestants').replace(/^l$/, 'Leaders')}</td>
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
  </details>
{/each}

<style>
  span.outer {
    display: inline-block;
    min-width: 5rem;
  }

  span.right {
    float: right;
  }

  summary {
    font-weight: normal;
  }

  div {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  td, th {
    text-align: center;
  }

  label.filter {
    display: inline;
  }
</style>
