<div>
  <strong>Our sponsors:</strong><br />
  <a href="https://eng.uvm.dk">
    <img
      alt="Ministry of Children and Education"
      title="Ministry of Children and Education"
      src="/assets/img/sponsors/uvm.png"
      style="max-width: 11rem"
    />
  </a>
  <a href="https://novonordiskfonden.dk/en">
    <img
      alt="Novo Nordisk Foundation"
      title="Novo Nordisk Foundation"
      src="/assets/img/sponsors/nnf.png"
    />
  </a>
  <a href="https://www.dtu.dk/english">
    <img
      alt="Technical University of Denmark"
      title="Technical University of Denmark"
      src="/assets/img/sponsors/dtu.png"
    />
  </a>
  <a href="https://janestreet.com">
    <img
      alt="Jane Street"
      title="Jane Street"
      src="/assets/img/sponsors/janestreet.png"
      style="max-width: 12rem"
    />
  </a>
  <a href="https://www.kattis.com">
    <img
      alt="Kattis"
      title="Kattis"
      src="/assets/img/sponsors/kattis.png"
      style="max-width: 9rem"
    />
  </a>
  <a href="https://jobindex.dk/?lang=en">
    <img
      alt="Jobindex"
      title="Jobindex"
      src="/assets/img/sponsors/jix.png"
      style="max-width: 9rem"
    />
  </a>
  <a href="https://supabase.com">
    <img
      alt="Supabase"
      title="Supabase"
      src="/assets/img/sponsors/supabase.svg"
      style="max-width: 9rem"
    />
  </a>
  <a href="https://en.itu.dk">
    <img
      alt="IT University of Copenhagen"
      title="IT University of Copenhagen"
      src="/assets/img/sponsors/itu.jpg"
      style="max-width: 10rem"
    />
  </a>
  <a href="https://barc.ku.dk">
    <img
      alt="Basic Algorithms Resarch Copenhagen"
      title="Basic Algorithms Resarch Copenhagen"
      src="/assets/img/sponsors/barc.jpg"
    />
  </a>
  <a href="https://zeronorth.com">
    <img
      alt="ZeroNorth"
      title="ZeroNorth"
      src="/assets/img/sponsors/zn.png"
      style="max-width: 7rem"
    />
  </a>
</div>

<style>
  img {
    height: 5rem;
    object-fit: contain;
    margin: 1rem;
  }
</style>
