<script>
  import NewsBanner from './NewsBanner.svelte';

  export let data;
</script>

<header>
  <NewsBanner />

  <h1><small><a href="/">&larrhk;</a></small> {data.title}</h1>
  <span class="date">Posted: {data.dateString}</span>
</header>

<svelte:component this={data.content} />
