<script>
  const duration = 15;
  const numWords = 11;
  const indices = [...Array(2 * numWords).keys()];
</script>

<div>
  <small>
    {#each indices as idx}
      <i
        style:animation-duration="{duration}s"
        style:animation-delay="{(-duration / 2 / numWords) * idx}s"
      >
        {idx % 2 ? 'news' : '/'}
      </i>
    {/each}
  </small>
</div>

<style>
  div {
    background: var(--logo-light);
    margin: 0 auto;
    max-width: min(45rem, 100%);
    height: 1.5rem;
    overflow: hidden;
    position: relative;
    text-align: left;
  }

  div:hover i {
    animation-play-state: running;
  }

  i {
    position: absolute;
    white-space: nowrap;
    color: var(--bg);
    animation-name: move-to-left;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    text-align: center;
    width: 5rem; /* to ensure centering */
  }

  @keyframes move-to-left {
    from {
      transform: translate(45rem, 0);
    }
    to {
      transform: translate(-5rem, 0);
    }
  }
</style>
