<script lang="ts">
  import NavBar from './NavBar.svelte';
</script>

<svelte:head>
  <title>404 - BOI 2023</title>
</svelte:head>

<header>
  <NavBar />
  <img alt="BOI logo 404" src="/assets/img/logo/logo-404.svg" />
</header>

<style>
  header img {
    height: 12rem;
    margin-top: 2rem;
  }
</style>
