<script>
  import { supabaseClient } from '$lib/db';
  import { invalidate } from '$app/navigation';
  import { onMount } from 'svelte';
  import Toc from 'svelte-toc';
  import { page } from '$app/stores';

  onMount(() => {
    const {
      data: { subscription },
    } = supabaseClient.auth.onAuthStateChange(() => {
      invalidate('supabase:auth');
    });

    return () => {
      subscription.unsubscribe();
    };
  });
</script>

<div id="middle">
  <slot />
</div>

<div style="grid-column: 3">
  {#if $page.data.toc}
    <Toc title="Table of contents" titleTag="strong" breakpoint="1500" headingSelector=":is(h1, h2, h3, h4):not(.toc-exclude)"/>
  {/if}
</div>
