<script>
  import { page } from '$app/stores';
</script>

<nav>
  <a href="/">Home</a>
  <a href="/participants">Participants</a>
  <a href="/results">Results</a>
  <a href="/tasks">Tasks</a>
  <a href="/rules-environment">Rules</a>
  <a href="/about">About</a>
</nav>
