<script>
  export let data;

  const participants =
    [
      ['Germany',
       [
         ['DEU-1', 'Boldizsár Mann'],
         ['DEU-2', 'Johann Gaulke'],
         ['DEU-3', 'Jonathan Busch'],
         ['DEU-4', 'Michael Danhamer'],
         ['DEU-5', 'Raphael Gaedtke'],
         ['DEU-6', 'Shuheng Wei'],
         ['DEU-TL', 'Julian Baldus'],
         ['DEU-TL', 'Philip Lukert'],
       ],
      ],
      ['Denmark',
       [
         ['DNK-1', 'Asbjørn Lind'],
         ['DNK-2', 'Gustav Bille Gørtz'],
         ['DNK-3', 'Lukas Marker'],
         ['DNK-4', 'Lukas Rishøj Dasseville'],
         ['DNK-5', 'Luna Mygind'],
         ['DNK-6', 'Nicolai Robinson'],
         ['DNK-7', 'Daniel Rasmussen'],
         ['DNK-8', 'Halfdan Herreborg'],
         ['DNK-9', 'Julie Lagoni'],
         ['DNK-10', 'Maia Vistisen'],
         ['DNK-11', 'Rumbin Lee'],
         ['DNK-12', 'Åbjørn Marquard'],
         ['DNK-TL', 'Edith Bille Gørtz'],
       ],
      ],
      ['Estonia',
       [
         ['EST-1', 'Aleksander Karpov'],
         ['EST-2', 'Hans Gustav Kõljalg'],
         ['EST-3', 'Kaur Huko Käämbre'],
         ['EST-4', 'Kevin Akkermann'],
         ['EST-5', 'Marten Mehide'],
         ['EST-6', 'Ralf Robert Paabo'],
         ['EST-TL', 'Andres Alumets'],
         ['EST-TL', 'Tähvend Uustalu'],
       ],
      ],
      ['Finland',
       [
         ['FIN-1', 'Anni Tapionlinna'],
         ['FIN-2', 'Antero Nyberg'],
         ['FIN-3', 'Elias Simojoki'],
         ['FIN-4', 'Jonni Haapiainen'],
         ['FIN-5', 'Leo Varis'],
         ['FIN-6', 'Veikko Heikkinen'],
         ['FIN-TL', 'Henrik Aalto'],
         ['FIN-TL', 'Roope Salmi'],
       ],
      ],
      ['Iceland',
       [
         ['ISL-1', 'Benedikt Vilji Magnússon'],
         ['ISL-2', 'Kirill Zolotuskiy'],
         ['ISL-3', 'Kristinn Daníelsson'],
         ['ISL-4', 'Kristófer Helgi Antonsson'],
         ['ISL-5', 'Róbert Kristian Freysson'],
         ['ISL-6', 'Þórhallur Tryggvason'],
         ['ISL-TL', 'Arnar Bjarni Arnarson'],
         ['ISL-TL', 'Samúel Hafsteinsson'],
       ],
      ],
      ['Lithuania',
       [
         ['LTU-1', 'Aidas Agejevas'],
         ['LTU-2', 'Gustas Mickus'],
         ['LTU-3', 'Jokūbas Jasiūnas'],
         ['LTU-4', 'Kipras Deksnys'],
         ['LTU-5', 'Martynas Šmaižys'],
         ['LTU-6', 'Nedas Bolevičius'],
         ['LTU-TL', 'Aldas Lenkšas'],
         ['LTU-TL', 'Jūratė Skūpienė'],
       ],
      ],
      ['Latvia',
       [
         ['LVA-1', 'Adriāns Piliksers'],
         ['LVA-2', 'Andrejs Petrovs'],
         ['LVA-3', 'Ansis Gustavs Andersons'],
         ['LVA-4', 'Edvards Freimanis'],
         ['LVA-5', 'Matīss Kristiņš'],
         ['LVA-6', 'Valters Kalniņš'],
         ['LVA-TL', 'Jevgēnijs Vihrovs'],
         ['LVA-TL', 'Pēteris Pakalns'],
       ],
      ],
      ['Norway',
       [
         ['NOR-1', 'Adrian Dobbe Flemmen'],
         ['NOR-2', 'David Strømme Eikeland'],
         ['NOR-3', 'Henrik Kvamme'],
         ['NOR-4', 'Jakob Rødal Skaar'],
         ['NOR-5', 'Simen Eilevstjønn'],
         ['NOR-6', 'Øystein Berntzen'],
         ['NOR-TL', 'Håvard Utne Terland'],
         ['NOR-TL', 'Magnus Hegdahl'],
       ],
      ],
      ['Poland',
       [
         ['POL-1', 'Adam Gąsienica-Samek'],
         ['POL-2', 'Konstanty Smolira'],
         ['POL-3', 'Marek Muzyka'],
         ['POL-4', 'Olaf Targowski'],
         ['POL-5', 'Rafał Mańczyk'],
         ['POL-6', 'Waldemar Lamandini'],
         ['POL-TL', 'Bartosz Kostka'],
         ['POL-TL', 'Tomasz Nowak'],
       ],
      ],
      ['Sweden',
       [
         ['SWE-1', 'David Björklund'],
         ['SWE-2', 'Ellinor Åhlander'],
         ['SWE-3', 'Erik Hedin'],
         ['SWE-4', 'John Hedin'],
         ['SWE-5', 'Theodor Beskow'],
         ['SWE-6', 'Victor Vatn'],
         ['SWE-TL', 'Joshua Andersson'],
         ['SWE-TL', 'Olle Lapidus'],
       ],
      ],
      ['Ukraine',
       [
         ['UKR-1', 'Andrii Smutchak'],
         ['UKR-2', 'Andrii Stolitnii'],
         ['UKR-3', 'Daryna Karpenko'],
         ['UKR-4', 'Oleksandr Kozlovskyi'],
         ['UKR-5', 'Sasha Tymkovych'],
         ['UKR-6', 'Yaroslav Parashchiy'],
         ['UKR-TL', 'Anton Tsypko'],
         ['UKR-TL', 'Sofiia Pavlova'],
       ],
      ],
    ];
</script>

<header>
  <h1>{data.title}</h1>
</header>

<table>
  {#each participants as country, country_idx}
    {#each country[1] as person, person_idx}
      <tr>
        {#if person_idx === 0}
          <td
            rowspan={country[1].length}
            style="background: {country_idx % 2 ? 'var(--accent-bg)' : 'var(--bg)'}"
          >
            {country[0]}
          </td>
        {/if}
        <td>{person[0]}</td>
        <td style="width: 100%">{person[1]}</td>
      </tr>
    {/each}
  {/each}
</table>

<style>
  td {
    white-space: nowrap;
  }
</style>
