<script>
  export let form;

  $: error = form?.error;
  $: message = form?.message;
</script>

<h1>Send sign-in link to your email</h1>

<p>Consider adding noreply@mail.app.supabase.io to your email whitelist, if you are not receiving the emails.</p>

<form method="POST">
  {#if error}
    <p class="bg-b">{error}</p>
  {/if}
  {#if message}
    <p><em class="bg-o">{message}</em></p>
  {/if}
  <label for="email">Email</label>
  <input type="email" name="email" value={form?.email ?? ''} autofocus />
  <br />
  <button>Send magic link</button>
</form>

<p>Remember your password? <a href="/sign-in">Sign in</a>.</p>
