<script>
  import NavBar from '../../../NavBar.svelte';
  import { page } from '$app/stores';
  import { exportFields, countries_alpha3, roles, roleHasExportField, roleHasProfileField, profileAdminDisabled } from '$lib/profileFields';

  export let data;
  export let form;

  let hashMessage;
  const hashMessageArr = $page.url.hash.match('message=([^&]*)');
  if (hashMessageArr) hashMessage = hashMessageArr[1].replaceAll('+', ' ');
  const searchMessage = $page.url.searchParams.get('message')?.replaceAll('+', ' ');
  const searchError = $page.url.searchParams.get('error_description')?.replaceAll('+', ' ');

  $: top_error = form?.top_error || searchError;
  $: top_message = form?.top_message || $page.url.searchParams.get('message') || hashMessage || searchMessage;

  let email = data.email;
  let password;

  const confirmDelete = (event) => {
    if (!confirm('Do you really want to delete your account? This cannot be undone.'))
      event.preventDefault();
  };
  const confirmDeleteOther = (event) => {
    if (!confirm('Do you really want to delete the selected account? This cannot be undone. You can invite them again and start over, though.'))
      event.preventDefault();
  };

  const filteredExportFields = exportFields.filter((field) => field.id != 'guide_application');

  let userDataTable, countryOverviewTable;
  // https://stackoverflow.com/questions/2044616/select-a-complete-table-with-javascript-to-be-copied-to-clipboard
  function selectElementContents(el) {
    var body = document.body, range, sel;
    if (document.createRange && window.getSelection) {
      range = document.createRange();
      sel = window.getSelection();
      sel.removeAllRanges();
      try {
        range.selectNodeContents(el);
        sel.addRange(range);
      } catch (e) {
        range.selectNode(el);
        sel.addRange(range);
      }
    } else if (body.createTextRange) {
      range = body.createTextRange();
      range.moveToElementText(el);
      range.select();
    }
  }

  let countryFilter;
  let roleFilter;
  let doneFilter;
  $: filteredPeopleData = data.everyonesData.filter(
    (personData) =>
      (!countryFilter || personData.country_alpha3 === countryFilter)
      && (!roleFilter || personData.role === roleFilter)
      && (!doneFilter || personData.num_missing === 0)
      && (personData.role !== 'guide_applicant')
  );
  const guideApplicantData = data.everyonesData.filter((personData) => personData.role === 'guide_applicant');

  let merchSearchType = 'seq_id';
  let merchSearchSeqId;
  let merchSearchBadgeId = '';
  let merchSearchSelectedSeqId;
  $: merchMatchesRough = data.everyonesData.filter(
    (personData) =>
      merchSearchType === 'seq_id' && personData.seq_id === merchSearchSeqId
      || (
        merchSearchType === 'badge_id'
        && (personData.badge_id?.toUpperCase().replace('-', ' ') === merchSearchBadgeId?.toUpperCase().replace('-', ' '))
      )
  );
  $: merchMatches = merchMatchesRough.filter(
    (personData) =>
      merchSearchType === 'seq_id'
      || (
        merchSearchType === 'badge_id'
        && (
          !merchSearchSelectedSeqId
          || personData.seq_id === merchSearchSelectedSeqId
        )
      )
  );
  $: if(!merchMatchesRough || merchMatchesRough.length === 0) merchSearchSelectedSeqId = null;
</script>

<header>
  <h1>{data.title}</h1>
</header>

{#if top_error}
  <p class="bg-b">{top_error}</p>
{/if}
{#if top_message}
  <p><em class="bg-o">{top_message}</em></p>
{/if}
<p>
  You are logged in.
  {#if data.country_name}
    You are registered as a <strong>{data.role}</strong> of team
    <strong>{data.country_name}</strong>.
  {:else}
    You are registered as a <strong>{data.role}</strong>.
  {/if}
  {#if data.committee}
    You are in the <strong>{data.committee}</strong>.
  {/if}
  Your email is <strong>{data.email}</strong>.
</p>

<details>
  If you want to, you can change your email or password here.
  <summary>Email, password and deletion</summary>
  <form method="POST" action="?/change-email">
    <label>
      Email
      <input type="email" name="email" bind:value={email} />
      <button disabled={email == data.email}>Change email</button>
    </label>
  </form>

  <form method="POST" action="?/change-password">
    <label>
      Password
      <input type="password" name="password" bind:value={password} />
      <button disabled={!password}>Change password</button>
    </label>
  </form>

  <p>
    {#if profileAdminDisabled}
      Deletion has been disabled. Please contact christian@danksdatalogidyst.dk, if your account must be deleted.
    {:else}
      Click <a href="/delete-account" on:click={confirmDelete} class="danger">here</a> to delete your account.
    {/if}
  </p>
</details>

By filling in this registration, you are agreeing to the <a href="/privacy-policy">Privacy Policy</a>.

{#if (data.role === 'leader' && !profileAdminDisabled) || data.email === 'christian@danskdatalogidyst.dk' || data.email === 'knud@krogh-fjeldsted.dk'}
  <h2>
    Invite people
  </h2>
  <p>
    {#if data.role === 'leader'}
      As a leader, you can invite contestants and other leaders from your country.
    {:else}
      As HC, you can invite team leaders and other organizers. Leaders will then be able to invite their contestants and co-leaders.
    {/if}
    After inviting someone, you can immediately start editing their registration. If you mistyped their email, you'll have to delete their account and start over.
  </p>
  <form method="POST" action="?/invite">
    {#if form?.invite_error}
      <p class="bg-b">{form.invite_error}</p>
    {/if}
    {#if form?.invite_message}
      <p><em class="bg-o">{form.invite_message}</em></p>
    {/if}
     <label for="invite_email">Email</label>
    <input type="email" name="invite_email" value={form?.invite_email ?? ''} />
    <label for="invite_role">Role</label>
    <select name="invite_role">
      <option value="contestant">contestant</option>
      <option value="leader">leader</option>
      {#if data.committee === 'HC'}
        <option value="contestant_extra">contestant_extra</option>
        <option value="organizer">organizer</option>
        <option value="guide">guide</option>
        <option value="guide_applicant">guide_applicant</option>
        <option value="guest">guest</option>
      {/if}
    </select>

    {#if data.committee === 'HC'}
      <label for="invite_country_alpha3">Country</label>
      <select name="invite_country_alpha3">
        {#each countries_alpha3 as alpha3}
          <option value={alpha3}>{alpha3}</option>
        {/each}
      </select>
      <label for="invite_committee">Committee</label>
      <select name="invite_committee">
        <option value=""></option>
        <option value="HC">HC</option>
        <option value="SC">SC</option>
        <option value="TC">TC</option>
      </select>
    {/if}
    <br />
    <button>Invite</button>
  </form>
{/if}

{#if data.role !== 'guide_applicant'}
  <h2>
    {#if data.role === 'leader'}
      Data for your country
    {:else if data.committee === 'HC'}
      Data for every account
    {:else}
      Data for your account
    {/if}
  </h2>
  <p>
    <strong style="background-color: yellow">Click the "Edit"-link in the leftmost column to fill in or modify the registration.</strong>
    <br />
    You can <a href="javascript:;" on:click={selectElementContents(userDataTable)}>select this table with your cursor</a>, if you want to copy it into a spreadsheet.
  </p>
  {#if data.committee === 'HC'}
    <label for="country_filter">Filter country</label>
    <select name="country_filter" bind:value={countryFilter}>
      <option value="">Show all</option>
      {#each countries_alpha3 as alpha3}
        <option value={alpha3}>{alpha3}</option>
      {/each}
    </select>
    <label for="role_filter">Filter role</label>
    <select name="role_filter" bind:value={roleFilter}>
      <option value="">Show all</option>
      {#each roles.filter((role) => role !== 'guide_applicant') as role}
        <option value={role}>{role}</option>
      {/each}
    </select>
    <label for="done_filter">Done filter</label>
    <select name="done_filter" bind:value={doneFilter}>
      <option value="">Show all</option>
      <option value="0">Only show accounts with all required fields filled</option>
    </select>
  {/if}

  <table bind:this={userDataTable}>
    <tr>
      <th>Edit</th>
      {#if data.role === 'leader' || data.committee === 'HC'}
        {#if !profileAdminDisabled}
          <th>Delete</th>
        {/if}
        <th>Change password</th>
      {/if}
      {#each filteredExportFields as field}
        <th>{field.display}</th>
      {/each}
      <th>Email confirmed</th>
    </tr>

    {#each filteredPeopleData as personData}
      <tr>
        <td><a href="/registration/edit/{personData.id}">Edit</a></td>
        {#if data.role === 'leader' || data.committee === 'HC'}
          {#if !profileAdminDisabled}
            <td><a href="/delete-account/{personData.id}" on:click={confirmDeleteOther} class="danger">Delete</a></td>
          {/if}
          <td><a href="/registration/change-password/{personData.id}">Change password</a></td>
        {/if}
        {#each filteredExportFields as field}
          {#if !roleHasExportField(personData.role, field)}
            <td bgcolor="lightgrey">N/A</td>
          {:else if field.id === 'num_missing'}
            {#if personData.num_missing === 0}
              <td>0</td>
            {:else}
              <td bgcolor="yellow">{personData.num_missing}</td>
            {/if}
          {:else if field.id === 'badge_id'}
            <td style="white-space: nowrap">{personData.badge_id}</td>
          {:else}
            {#if personData[field.id] && personData[field.id] !== 'null'}
              <td>{personData[field.id]}</td>
            {:else if roleHasProfileField(personData.role, field) && !field.optional}
              <td bgcolor="yellow"></td>
            {:else}
              <td></td>
            {/if}
          {/if}
        {/each}
        <td>{personData.email_confirmed_at ? 'Yes' : 'No'}</td>
      </tr>
    {/each}
  </table>
{/if}

{#if data.committee === 'HC'}
  <h2>Overview of countries</h2>

  <p>
    As HC, you can see this overview.
    <br/>
    You can <a href="javascript:;" on:click={selectElementContents(countryOverviewTable)}>select this table with your cursor</a>, if you want to copy it into a spreadsheet.
  </p>
  <table style="white-space: nowrap; line-height: 0.5" bind:this={countryOverviewTable}>
    <tr>
      <th colspan=2></th>
      <th>All roles</th>
      {#each roles as role}
        <th style="writing-mode: tb-rl; min-width: 3rem">{role}</th>
      {/each}
    </tr>
    {#each ["All countries", ...countries_alpha3] as country_alpha3, countryIndex}
      <tr style="border-top: 3px solid black">
        <td rowspan=3 style="font-weight: bold">{country_alpha3}</td>
        <td><strong>Total</strong></td>
        {@html data.countryOverview[countryIndex].numHTML.numHTML}
        {#each roles as role, roleIndex}
          {@html data.countryOverview[countryIndex].numHTMLForRole[roleIndex].numHTML}
        {/each}
      </tr>
      <tr>
        <td>Not done</td>
        {@html data.countryOverview[countryIndex].numHTML.numNotDoneHTML}
        {#each roles as role, roleIndex}
          {@html data.countryOverview[countryIndex].numHTMLForRole[roleIndex].numNotDoneHTML}
        {/each}
      </tr>
      <tr>
        <td>Not started</td>
        {@html data.countryOverview[countryIndex].numHTML.numNotStartedHTML}
        {#each roles as role, roleIndex}
          {@html data.countryOverview[countryIndex].numHTMLForRole[roleIndex].numNotStartedHTML}
        {/each}
      </tr>
    {/each}
  </table>
{/if}

{#if data.role === 'guide_applicant'}
  {#if data.role === 'guide_applicant'}
    <h2>Your info</h2>
    <p>
      Thank you for creating an account!
      Below you can see the text you have submitted to us, if any.
      Please click <a href="/registration/edit/{guideApplicantData[0]?.id}">HERE</a> to edit it.
      We will get back to you soon.
    </p>
    <textarea disabled value={guideApplicantData[0]?.guide_application} style="height: 50rem"/>
  {/if}
{/if}

{#if data.committee === 'HC'}
  <h2>Guide applicants</h2>
  <p>To make someone into a guide, Christian Bertram must manually change a value in the database.</p>
  {#each guideApplicantData as personData}
    <h3>{personData.email}</h3>
    <ul>
      <li><a href="/registration/edit/{personData.id}">Edit</a></li>
      {#if !profileAdminDisabled}
        <li><a href="/delete-account/{personData.id}" on:click={confirmDeleteOther} class="danger">Delete</a></li>
      {/if}
      <li><a href="/registration/change-password/{personData.id}">Change password</a></li>
    </ul>
    <textarea disabled value={personData.guide_application} style="height: 50rem"/>
  {/each}
{/if}

{#if data.committee === 'HC'}
  <h2>Merchandise lookup</h2>
  <form>
    <fieldset>
      <legend>Search criteria:</legend>
      <div style:color="{merchSearchType !== 'seq_id' ? 'grey' : 'black'}">
        <input type=radio id="seq_id" value="seq_id" name="merch-search-type" bind:group={merchSearchType} />
        <label>
          Database ID:
          <input type="number" disabled={merchSearchType !== 'seq_id'} bind:value={merchSearchSeqId} />
        </label>
      </div>
      <div style:color="{merchSearchType !== 'badge_id' ? 'grey' : 'black'}">
        <input type=radio id="badge_id" value="badge_id" name="merch-search-type" bind:group={merchSearchType} />
        <label>
          Badge ID:
          <input type="text" disabled={merchSearchType !== 'badge_id'} bind:value={merchSearchBadgeId} />
          <select bind:value={merchSearchSelectedSeqId} disabled={merchSearchType !== 'badge_id'}>
            {#each merchMatchesRough as match}
              <option value={match.seq_id}>{match.seq_id} - {match.chosen_name}</option>
            {/each}
          </select>
        </label>
      </div>
    </fieldset>
  </form>
  <strong>Result:</strong>
  {#if !merchMatches || merchMatches.length === 0}
    No match.
  {:else if merchMatches.length > 1}
    Multiple matches. Please refine search criteria.
  {:else if !merchMatches[0].chosen_name}
    User deleted. (Probably... User doesn't have a chosen name.)
  {:else}
    <div style="border: 1px solid var(--border)">
      <ul>
        <li><strong>Badge ID:</strong> {merchMatches[0].badge_id}</li>
        <li><strong>Name:</strong> {merchMatches[0].chosen_name}</li>
        <li><strong>T-shirt size:</strong> {merchMatches[0].tshirt_size}</li>
        <li><strong>Sweatshirt size:</strong> {merchMatches[0].sweatshirt_size}</li>
      </ul>
    </div>
  {/if}
{/if}
<p>
  <small>(Klik <a href="/registration/admin/merch-tag">her</a> for generering af mulepose-tags.)</small>
  <br/>
  <small>(Klik <a href="/registration/admin/team-presentation-slides">her</a> for generering af team presentation slides.)</small>
</p>

<br />
<hr />
<br />
<header><NavBar /></header>

<style>
  a.danger {
    color: var(--accent-danger);
  }
</style>
