<script>
  export let data;
</script>

<div id="printarea">
  {#each data.everyonesData as personData}
    {#each [0, 1] as copy}
      <div class="person">
        <ul>
          <li><strong>Badge ID:</strong> {personData.badge_id}</li>
          <li><strong>Name:</strong> {personData.chosen_name}</li>
          <li><strong>T-shirt size:</strong> {personData.tshirt_size}</li>
          <li><strong>Sweatshirt size:</strong> {personData.sweatshirt_size}</li>
        </ul>
      </div>
    {/each}
  {/each}
</div>

<style>
  div.person {
    border: solid black ;
    margin: .5rem .5rem 0 0;
    width: calc(50% - .5rem);
    display: inline-block;
    break-inside: avoid;
  }

  @page {
    margin: 0;
    margin-top: 3rem;
  }

  @media print {
    #printarea {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
</style>
