<script>
  //https://supabase.com/docs/guides/getting-started/tutorials/with-sveltekit#bonus-profile-photos
  import { createEventDispatcher } from 'svelte';
  import { supabaseClient } from '$lib/db'

  export let width = 10;
  let height = width*4/3;
  export let url;
  export let disabled;

  let avatar_url = null;
  let uploading = false;
  let files;

  const dispatch = createEventDispatcher();

  const downloadImage = async (path) => {
	  try {
	    const { data, error } = await supabaseClient.storage.from('avatar').download(path);
	    if (error) throw error;
	    avatar_url = URL.createObjectURL(data);
	  } catch (error) {
	    if (error instanceof Error)
		    console.log('Error downloading image: ', error.message, url);
	  }
  };

  const uploadAvatar = async () => {
	  try {
	    uploading = true;

	    if (!files || files.length === 0)
		    throw new Error('You must select an image to upload.');

	    const file = files[0];
	    const fileExt = file.name.split('.').pop();

      if (file.size > 1000000) throw new Error('Please choose a file of size less than 1MB.');
      if (!['jpg', 'jpeg', 'png'].includes(fileExt.toLowerCase())) throw new Error('Please choose a file with file extension ".jpg", ".jpeg" or ".png".');

      url = `${Math.random()}.${fileExt}`;

      let { error } = await supabaseClient.storage.from('avatar').upload(url, file);
	    if (error) throw error;

	    dispatch('upload');
	  } catch (error) {
	    if (error instanceof Error)
		    alert(error.message);
	  } finally {
	    uploading = false;
	  }
  };

  $: if (url) downloadImage(url);
</script>

<div>
  {#if !disabled}
    <div>
      <label id="upload-button" for="single">
	      {uploading ? 'Uploading ...' : 'Choose file'}
      </label>
      <input
        type="file"
        id="single"
        accept="image/*"
        bind:files
        on:change={uploadAvatar}
        disabled={uploading}
        style="display: none"
      />
    </div>
  {/if}

  {#if avatar_url}
	  <img
	    src={avatar_url}
	    alt={avatar_url ? 'Avatar' : 'No image'}
	    class="avatar image"
	    style="height: {height}em; width: {width}em;"
	  />
  {:else}
	  <div class="avatar no-image" style="height: {height}em; width: {width}em;">
      <span>No image.</span>
    </div>
  {/if}

</div>

<style>
  label {
    margin-top: 0;
  }

  .no-image {
    background-color: lightgrey;
    text-align: center;
    color: var(--accent-danger);
    display: table-cell;
    vertical-align: middle;
    border: 1px solid black;
  }

  #upload-button {
    color: var(--accent);
    text-decoration: underline;
    font-weight: normal;
    cursor: pointer;
  }

  img {
    object-fit: cover;
  }
</style>
