<script>
  import Flag from '../../../../about/Flag.svelte';
  import Avatar from '../../edit/[uuid]/Avatar.svelte';

  import { countries_alpha3, alpha3ToName } from '$lib/profileFields';

  export let data;
</script>

<div id="printarea">
  <div class="page">
    blank 1/2
  </div>
  <div class="page">
    blank 2/2
  </div>
  <center class="page">
    <div style="height: 20vw" />
    <h1>Team and Committee presentations</h1>
    <div style="height: 10vw" />
    <img alt="BOI 2023 logo" src="/assets/img/logo/logo.svg" />
  </center>

  {#each ['HC', 'SC', 'TC'] as committee}
    <center class="page">
      <h1><Flag country="DNK" /> {committee === 'HC' ? 'Host Committee' : committee === 'SC' ? 'Scientific Committee' : 'Technical Committee'}</h1>
      {#each data.everyonesData.filter((personData) => personData.committee === committee).sort((a, b) => ('' + a.chosen_name).localeCompare(b.chosen_name)) as personData}
        <div class="person">
          <Avatar
            bind:url={personData.avatar_url}
            width={7}
            disabled={1}
          />
          <span>{personData.badge_id}</span>
          <br />
          <strong>{personData.chosen_name}</strong>
        </div>
      {/each}
    </center>
  {/each}

  <center class="page">
    <h1>Guides 🧡</h1>
    {#each data.everyonesData.filter((personData) => personData.role === 'guide') as personData}
      <div class="person">
        <Avatar
          bind:url={personData.avatar_url}
          width={7}
          disabled={1}
        />
        <span>{personData.badge_id}</span>
        <br />
        <strong>{personData.chosen_name}</strong>
      </div>
    {/each}
  </center>

  {#each countries_alpha3 as alpha3}
    <center class="page">
      <h1><Flag country={alpha3} /> Team {alpha3ToName[alpha3]}</h1>
      {#each data.everyonesData.filter((personData) => personData.country_alpha3 === alpha3 && (personData.role === 'contestant' || personData.role === 'contestant_extra' || personData.role === 'leader')) as personData}
        {#if personData.country_alpha3 === 'DNK' && personData.role === 'leader'}
          <h1 style="break-before: always; padding-top: 4vw;"><Flag country={alpha3} /> Team Denmark Team Leader 🎉</h1>
        {/if}
        <div class="person">
          <Avatar
            bind:url={personData.avatar_url}
            width={7}
            disabled={1}
          />
          <span>{personData.badge_id}</span>
          <br />
          <strong>{personData.chosen_name}</strong>
        </div>
      {/each}
    </center>
  {/each}

  <center class="page">
    <div style="height: 20vw" />
    <h1>Thanks everyone :)</h1>
    <div style="height: 10vw" />
    <img alt="BOI 2023 logo" src="/assets/img/logo/logo.svg" />
  </center>
</div>

<style>
  .page {
    width: 100vw;
    break-after: always;
  }

  div.person {
    display: inline-block;
    width: 14vw;
    margin: 1vw;
    vertical-align: top;
  }

  @page {
    margin: 0;
  }

  @media print {
    #printarea {
      visibility: visible;
      position: absolute;
      left: 5vw;
      top: 0;
    }
  }
</style>
