<script>
  export let data;

  const medalName = {
    H: 'Honorable mention',
    B: 'Bronze',
    S: 'Silver',
    G: 'Gold',
  };
</script>

<header>
  <h1>{data.title}</h1>
</header>

<table>
  <tr>
    <th>Country</th>
    <th>Name</th>
    <th>Day 1</th>
    <th>Day 2</th>
    <th>Total</th>
    <th>Medal</th>
  </tr>
  {#each data.people as person, person_idx}
    <tr>
      <td>{person['Country alpha3']}</td>
      <td style="width: 100%">{person['Chosen name']}</td>
      <td>{person['ONE']}</td>
      <td>{person['TWO']}</td>
      <td>{person['TOT']}</td>
      <td>{medalName[person['MED']] || ''}</td>
    </tr>
  {/each}
</table>

<style>
  td, th {
    white-space: nowrap;
  }
</style>
